    <div class="card-content">
        <div class="card-img">
            <img src='{{destino.imagenUrl}}' alt="">
            <span><h4>{{destino.nombre}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>{{destino.descripcion}}</p>
            <a href="#" class="btn-card">Read</a>
        </div>
    </div>